<div class="columns" style="height: 100%;">
  <div class="column">
    <div class="pb-3">
      <!--Input Buscador por Ciudad-->
      <form [formGroup]="weatherForm" (ngSubmit)="getWeatherCity()">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Buscar Ciudad" formControlName="city">
            <span class="icon is-small is-left">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fa-solid fa-location-dot"></i>
            </span>
          </p>
        </div>
      </form>
    </div>
    <!--Zona Info Clima actual-->
    <div class="box fixed-grid is-shadowless" [ngClass]="weatherInfo.bg">
      <div class="is-flex is-flex-direction-column is-align-items-center mb-6 is-hidden-touch">
        <h1 class="is-size-6 mb-4 has-text-weight-semibold has-text-white">
          <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
          {{weatherInfo.place}}
        </h1>
        <img *ngIf="showIcon" [src]="weatherInfo.icon" alt="weather icon" width="250" class="has-content-centered">
        <p class="is-size-7 is-italic has-text-white">Designed by <a class="has-text-link"
            href="https://www.freepik.com/author/coolvector">coolvector</a>
        </p>

        <h1 class="is-size-1 has-text-weight-bold has-text-white	">{{weatherInfo.temp | number}}°</h1>
        <h3 class="is-size-6 has-text-weight-medium has-text-white	">{{weatherInfo.desp}}</h3>
        <h3 class="is-size-6 has-text-weight-medium has-text-white	">
          Max: {{weatherInfo.maxTemp | number}}° / Min:{{weatherInfo.minTemp | number}}°
        </h3>
        <h3 class="is-size-6 has-text-weight-medium has-text-white">Sensación térmica: {{weatherInfo.senceTemp |
          number}}°</h3>
      </div>

      <div class="is-hidden-desktop">
        <div class="fixed-grid">
          <div class="grid">
            <div class="cell is-col-span-2 is-flex is-flex-direction-column is-align-items-center">
              <h1 class="is-size-5 has-text-weight-semibold has-text-white">
                <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                {{weatherInfo.place}}
              </h1>
            </div>
            <div class="cell">
              <img *ngIf="showIcon" [src]="weatherInfo.icon" alt="weather icon" width="200"
                class="has-content-centered">

              <h1 class="is-size-6 has-text-white">{{weatherInfo.desp}}</h1>
              <h3 class="is-size-6-mobile is-size-4-tablet has-text-weight-medium has-text-white">{{weatherInfo.date}}
              </h3>
            </div>
            <div class="cell">
              <h1 class="is-size-1 has-text-weight-bold has-text-white">{{weatherInfo.temp | number}}°</h1>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Zona Info Detalles-->
  <div class="column is-two-thirds-desktop has-background-white-bis">
    <div class="mb-3 is-hidden-touch">
      <h2 class="is-size-3-desktop has-text-weight-bold has-text-info">
        {{weatherInfo.time | uppercase}}</h2>
      <h3 class="is-size-6-desktop has-text-weight-medium">{{weatherInfo.date |
        titlecase}}</h3>
    </div>
    <div class="mb-5">
      <div class="fixed-grid has-7-cols cards-scroll">
        <div class="grid is-gap-2 cards-wrapper">
          <div class="cell is-shadowless card" *ngFor="let hour of weatherForecastData">
            <div class="box is-shadowless is-flex is-flex-direction-column is-align-items-center">
              <img [src]="hour.icon" alt="weather icon" width="50" class="has-content-centered">
              <p class="has-text-black is-size-6">{{hour.time}}</p>
              <p class="has-text-black is-size-6">{{hour.temp}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-grid has-3-cols mb-4">
      <div class="grid is-gap-2 is-row-gap-2 mb-3">
        <div class="cell" *ngFor="let weather of weatherData">
          <div class="box has-background-light is-shadowless">
            <p class="has-text-grey	is-size-6-desktop is-size-5-mobile is-size-5-tablet">
              <span class="icon"><i [ngClass]="weather.icon"></i></span>
              {{weather.title}}
            </p>
            <p class="has-text-grey-dark has-text-weight-bold is-size-5-desktop is-size-4-mobile is-size-4-tablet">
              {{weather.value}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
