<div mat-dialog-content class="dialog is-flex is-flex-direction-column is-align-items-center">
  <div class="is-size-1 has-text-danger mt-3 mb-3">
    <i class="fa-regular fa-circle-xmark"></i>
  </div>
  <h2 class="is-size-3 has-text-centered has-text-weight-bold mt-3 mb-3">{{data.title}}</h2>
  <p class="is-size-5 has-text-centered has-text-weight-medium mt-2 mb-3">{{data.message}}</p>
  <div class="mt-2 mb-3">
    <button class="button is-danger has-text-white" mat-dialog-close>Aceptar</button>
  </div>
</div>
