/* You can add global styles to this file, and also import other style files */

.gabarito {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  font-family:  "Gabarito", sans-serif !important;
}
